[submodule "third_party/dinov2"]
	path = third_party/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "third_party/segment-anything"]
	path = third_party/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
